<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<!-- <menu>
		<add id="Sttl::top_level" module="Sttl_Importproductbrand" resource="Magento_Backend::content" sortOrder="9999" title="Sttl"/>
		<add action="sttl_importproductbrand/importproductbrand/index" id="Sttl_Importproductbrand::sttl_importproductbrand_importproductbrand" module="Sttl_Importproductbrand" parent="Sttl::top_level" resource="Magento_Backend::content" sortOrder="9999" title="Importproductbrand"/>
	</menu> -->

</config>
