<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_customer_save_after">
        <observer name="ManishJoy_Login_Customer_Save_After" instance="ManishJoy\Login\Observer\Customersaveafter" />
    </event>
    <!-- <event name="visitor_init">
        <observer name="savebrowserdata" instance="ManishJoy\Login\Observer\Browsername" />
    </event> -->
</config>