<!-- Top Section Includin PO & Product Images START --> 
<div class="container bg-light p-2 place_order">
	<div class="new_oder">
		<h4 class="creat_order">Create a new purchase order, or add it to an existing one.</h4>
		<div class="row add_update_po_section">
		    <div class="col-md-5">
		        <input class="tabactive" name="po_number" type="text" placeholder="P.O NUMBER" value="" autocomplete="off" disabled="true">
		        <i class="fa fa-pencil editpodashboard" orderid="" po_number="" style="display: none;"></i>
		        <input type="hidden" class="old_po" name="old_po" value="">
		        <input type="hidden" name="is_edit_order" id="is_edit_order_line" value="0">
		        <span></span>
		    </div>
		    <span class="ponum-exist custom-error"></span>
		    <span class="ponumber_or">or</span>

		    <div class="col-md-5 text-center">
		        <!--<input name="select_existing p.o." type="text" >-->
		        <select id="select_existing" name="select_existing_p_o">
		        	<option value="">SELECT EXISTING P.O.</option>
		        	<% _.each(ponumber, function(value, index) { %>
		        	
		        	<option value="<%=value.NumatCardPo%>" order_id = "<%=value.OrderId%>"><%=value.NumatCardPo%></option>
		        	<% })%>
		        </select>
		        <input type="hidden" name="sap_ponumber_id" value="" id="sap_ponumber_id">
		        <input type="hidden" name="order_id" value="" id="order_id">
		        <input type="hidden" name="enable_input_id" value="" id="enable_input_id">
		    </div>
		</div>
	</div>
</div>
	   
<!-- Top Section Includin PO & Product Images END -->
<!-- Error/Success Message START -->
<div id="message" class="messages">
    <div id="msg_text"></div>
</div>
<div class="scroll-content">
<div id="overlay" style="display:none"></div>
<!-- Error/Success Message END -->

<!-- Regular,Petite,Tall buttonns if Available END -->
<!-- Product Color Data Section START -->

<% 
var core_avaialble = false;
var fashion_avaialble = false;
var temp_core_sku = [];
var temp_other_sku = [];
var activecolor = '';
var isanyStyleAvail = true;
_.each(data, function(value, index) {
	if(value.ColorStatus == "Core"){
		core_avaialble = true;
		temp_core_sku.push(value.ItemCode);
	}else if(value.ColorStatus != ""){
		fashion_avaialble = true;
		temp_other_sku.push(value.ItemCode);
	}else{
		isanyStyleAvail = false;
	}
});
%>
<div class="tooltip-img" style="display: none;">
    	
	</div>
<div id="color-data">
	<!-- Product Image Section START -->
	
	<!-- Product Image Section END -->
	<!-- Color DATA START -->
	<input type="hidden" id="flatDiscount" name="flatDiscount" value="<%=customersFlatDiscount[0].FlatDiscount%>">
	<div id="<%=parent_color%>" class="product_options active">
		<!-- Swatch Section START -->
		<div class="pro_image_detail row">
		<div class="option_thumnail_detail col-md-5">
			<div class="order_tooltip">
				<div class="order_wrapper">
					<div class="option-thumbnail" id="myTask">
						<% var main_color_array = [];
							var size_char_i = 0;
							var activeClass = ''; 
							var placeholderurl = baseurl+'/pub/media/catalog/product/placeholder/default/image-placeholder.jpg';

						%>
					    <% _.each(data, function(value, index) { %>
							
							<% if(size_char_i === 0) {
								activeClass = 'active';
							}else{
								activeClass = '';
							} %>

					    	<% if(value.Color != '' && value.ColorSwatch != '') { %>
					    		<% if(!_.contains(main_color_array, value.ColorCode)) { %>
				    				<div id="<%=value.Style %>DR<%=value.ColorCode %>" class="<%=activeClass%>">
						    			<a class="btn-gallery">
						    				<% if(value.U_WImage1) { %>
						    					<img class="popupImage" src="<%=value.U_WImage1 %>" data-href="<%=value.U_WImage1 %>"  />
						    				<% }else{ %>
						    					<img class="popupImage" src="<%=placeholderurl %>" data-href="<%=placeholderurl %>"  />
						    				<% } %>
						    			</a>
						    		</div>
						    		<% size_char_i++; %>
				    				<% main_color_array.push(value.ColorCode); %>
								<% } %>
						    <% } %>
					    <% }); %>
					</div>
						<div class="order_product_info">
						    <div class="show-product-dis-box">
						    	<span class="item_name"><%=data[0].ItemName%></span></br>
						        <span class="order_Collection"><%=data[0].Collection %> by adar </span><br>
						        <span class="order_style">Style: <span id="current_active_style_head"><%=parent_color%></span></span></br>
						        <span class="order_status">Status: 
						        	<span><%=data[0].StyleStatus %></span>
						    	</span>
						    </div>
						</div>
				</div>
			<!-- Regular,Petite,Tall buttonns if Available START -->
				<%	if(rptswitcher.petite && rptswitcher.petite != '' || rptswitcher.tall && rptswitcher.tall != ''){ %>
						<div class="catBtns">
							<% if(rptswitcher.regular && rptswitcher.regular != ''){ %>
								<a href="javascript:void(0)" id="Regular" product-sku="<%=rptswitcher.regular%>" class="customBtns <% if( parent_color == rptswitcher.regular){%>activeCat<%} %>">Regular</a>
							<% } %>
							<% if(rptswitcher.petite && rptswitcher.petite != ''){ %>
								<a href="javascript:void(0)" id="Petite" product-sku="<%=rptswitcher.petite%>" class="customBtns <% if( parent_color == rptswitcher.petite){%>activeCat<%} %>">Petite</a>
							<% } %>
							<% if(rptswitcher.tall && rptswitcher.tall != ''){ %>
								<a href="javascript:void(0)" id="Tall" product-sku="<%=rptswitcher.tall%>" class="customBtns <% if( parent_color == rptswitcher.tall){%>activeCat<%} %>">Tall</a>
							<% } %>
						</div>
				<% } %>
			</div>
		</div>
		<div class="swatchecs_color_section">
			<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
				<div class="swtach">
					<% 
						var main_swatch_color_array = []; 
						var size_char_i = 0;
						var main_color_class = '';
						var main_color_aria = '';
						var main_color_i = fashionColor_i = 0;
					%>
					<% if(core_avaialble) { %>
						<div class="customorder-color core-color-section">
							<div id="coreClass" class="colorImage active">
								<span>Core Colors: </span>
							</div>
							<div class="swatch-color-container">
								<% _.each(data, function(value, index) { %>
									<% if(value.Color != '' && value.ColorSwatch != '') { %>
									<% if(!_.contains(main_swatch_color_array, value.ColorCode)) { %>
										<%
											var option_tooltip_thumb = (value.ColorSwatch).toLowerCase();
											var option_tooltip_value = (value.ColorSwatch).toLowerCase();
											var product_image_thumb = (value.U_WImage1).toLowerCase();
											var swatch_background_url = (value.ColorSwatch).toLowerCase();
										%>
										<% if(main_color_i != 0) {
											main_color_class = '';
											main_color_aria = 'true';
										} %>
										<% if(main_color_i == 0) {
											activecolor = value.ColorCode;
											main_color_class = 'active';
											main_color_aria = 'false';
										} %>
										<% if(value.ColorStatus == 'Core') { %>
											<div id="core" class="swatch-option image" data-toggle="tab" href="#<%=value.Style%><%=value.ColorCode%>" option-color-code="<%=value.ColorCode%>" option-color-status="<%=value.ColorStatus%>" option-style-status="<%=value.StyleStatus%>" tabindex="<%=index%>" option-id="<%=value.Style%>" option-core-color-name="<%=value.Color%>" product-image-thumb="<%=product_image_thumb%>" option-tooltip-value="<%=option_tooltip_value%>" role="tab" aria-controls="<%=value.ColorCode%>" aria-selected="<%=main_color_aria%>" style="background:url('<%=swatch_background_url%>') no-repeat center; background-size: 105%;"  >
												<div class="box-hover">
				                                    <img class="in2 mCS_img_loaded" src="<%=baseurl%>/pub/media/wysiwyg/swatcher_image.png">
				                                    <img class="in1 mCS_img_loaded" src="<%=swatch_background_url%>">
				                                </div>
												<span class="swatch_img">
													<input name="style" type="hidden" value ="<%=parent_color%>">
													<input name="qty_change_<%=value.ColorCode%>"class="qty_change" id="qty_change_<%=value.ColorCode%>" type="hidden" value ="0">
												</span>
												<div class="bottom-tooltip-active">
													<p class="color-active"><%=value.Color%></p>
												</div>
											</div>
											<% main_swatch_color_array.push(value.ColorCode); %>
											<% main_color_i++; %>
										<% } %>
									<% } }%>
								<% }); %>
							</div>
						</div>
					<% } %>
					<% if(fashion_avaialble) { %>
						<div class="customorder-color fashion-color-section">
							<div id="fashionClass" class="colorImage">
								<span>Fashion/Seasonal Colors: </span>
							</div>
							<div class="swatch-color-container">
								<% _.each(data, function(value, index) { %>
								<% if(value.Color != '' && value.ColorSwatch != '') { %>
									<% if(!_.contains(main_swatch_color_array, value.ColorCode)) { %>
										<%
											var option_tooltip_thumb = (value.ColorSwatch).toLowerCase();
											var option_tooltip_value = (value.ColorSwatch).toLowerCase();
											var product_image_thumb = (value.U_WImage1).toLowerCase();
											var swatch_background_url = (value.ColorSwatch).toLowerCase();
										%>
										<% if(main_color_i != 0) {
											main_color_class = '';
											main_color_aria = 'true';
										} %>
										<% if(main_color_i == 0) {
											activecolor = value.ColorCode;
											main_color_class = 'active';
											main_color_aria = 'false';
										} %>

										<% if(_.contains(temp_other_sku, value.ItemCode)) { %>
											<div id="fashion" class="swatch-option image" data-toggle="tab" href="#<%=value.Style%><%=value.ColorCode%>" option-color-code="<%=value.ColorCode%>" option-color-status="<%=value.ColorStatus%>" option-style-status="<%=value.StyleStatus%>" tabindex="<%=index%>" option-id="<%=value.Style%>" option-fashion-color-name="<%=value.Color%>" product-image-thumb="<%=product_image_thumb%>" option-tooltip-value="<%=option_tooltip_value%>" role="tab" aria-controls="<%=value.ColorCode%>" aria-selected="<%=main_color_aria%>" style="background:url('<%=swatch_background_url%>') no-repeat center; background-size: 105%;" >
												<div class="box-hover">
				                                    <img class="in2 mCS_img_loaded" src="<%=baseurl%>/pub/media/wysiwyg/swatcher_image.png">
				                                    <img class="in1 mCS_img_loaded" src="<%=swatch_background_url%>">
				                                </div>
												<span class="swatch_img">
													<input name="style" type="hidden" value ="<%=parent_color%>">
													<input name="qty_change_<%=value.ColorCode%>"class="qty_change" id="qty_change_<%=value.ColorCode%>" type="hidden" value ="0">
												</span>
												<div class="bottom-tooltip-active">
													<p class="color-active"><%=value.Color%></p>
												</div>
											</div>
											<% main_color_i++; %>
											<% main_swatch_color_array.push(value.ColorCode); %>
										<% } %>
									<% }} %>
								<% }); %>
							</div>
						</div>
					<% } %>
				</div>
			</div>
		</div>		
	</div>
	<div class="style-info">
				<div class="colorstatus">
					<span id="colorstatus">Selected Color Status : </span>
					<span id="Status"></span>
					<strong style="margin-left: 5px">Color: </strong><span class="selectcolorsampletable">Select color</span>
				</div>

				<div class="price-checkbox">
				<div id="price-checkbox-checkvalue">
				    <input type="checkbox" id="map_price" class="price-check" name="map_price"  value="map_price"/>
					<span class="lbl padding-8">Display MAP Price</span>
					<input type="checkbox" id="hide_price" class="price-check" name="hide_price" value="hide_price"/>
					<span class="lbl padding-8">Hide Price</span>
				</div>
			    </div>
			</div>
			<div class='error-color' style='display:none' >
				<span class='error'>Please Select Color.</span>
			</div>
			<% if(!isanyStyleAvail) { %>
				<span class="style-notfound custom-error message-error error">Item not found.</span>
			<% } %>

		<!-- Swatch Section END -->
		<!-- Size Table START -->
		<% 
			var main_size_array = []; 
			var style_size_char_i = 0;
			var size_activeclass = '';
			var eta_row_avail_to_show = false;
			var eta_availtoshow_styles = [];
			_.each(data, function(parenvalue, index) {
				eta_row_avail_to_show = false;
				if(!_.contains(eta_availtoshow_styles, parenvalue.ColorCode)) {
					var filterBy = parenvalue.ColorCode;
					colorcode_array = _.filter(data, function(parenvalue) {
						return parenvalue['ColorCode'] === filterBy;
					});
					_.each(colorcode_array, function(value, index) {
						var ETA1_DATE = new Date(value.ETA1);
						var ETA2_DATE = new Date(value.ETA2);
						var ETA3_DATE = new Date(value.ETA3);
						var currentdate = new Date();
						var sysDate = new Date("1900/01/01");
						var eta_date = {
							'ETA1' : {
								"Date" : ETA1_DATE,
								"Qty" : value.EtaQty1
							},
							'ETA2' : {
								"Date" : ETA2_DATE,
								"Qty" : value.EtaQty2
							},
							'ETA3' : {
								"Date" : ETA3_DATE,
								"Qty" : value.EtaQty3
							},

						};
						if(!_.isEmpty(eta_date)){
			                var eta_avail_to_show = false;
			                _.each(eta_date, function(value, index) {
			                	var current_itration_date = value.Date;
			                    if(value.Date != sysDate && current_itration_date.getTime() && value.Qty > 0 && eta_avail_to_show == false){
			                    	eta_avail_to_show = true;
									eta_row_avail_to_show = true;
			                    }
			                });
			        	}
					});
	                if(eta_row_avail_to_show){
						eta_availtoshow_styles.push(parenvalue.ColorCode);
		            }
			    }

			});

			var first_colorcode_array = [];
			_.each(data, function(value, index) {

				if(!_.contains(main_size_array, value.ColorCode)) 
				{
					var core_color_data = '';
					var i = 0;


					core_color_data = _.filter(data,function(value,index){
						return value['ColorStatus'] === "Core";
					})

					if(core_color_data.length == 0)
					{
						core_color_data[0] = data[0];
					}
					var filterBy = core_color_data[0].ColorCode;
					first_colorcode_array = _.filter(data, function(value) 
					{
						return value['ColorCode'] === filterBy;
					});

				}
		   });


		%>
		<div class="tab-content order-table" id="nav-tabContent">

			<div class="tab-pane fade show active" role="tabpanel">
				<div class='colorContainer'>
					<table class='table table-bordered table-responsive sampaltetabledesable'>
						<tbody>
							<tr>
								<td>Size</td>
								<% 
								console.log("colorcode_array",colorcode_array)
								    _.each(first_colorcode_array, function(value, index) {
										%><td align="center"><%=value.Size%></td><%
									});
								%>
							</tr>
							<tr class="price-tr <%=(mapprice == 0 && hideprice == 0) ? 'hide' : ''%>">
								<td>
									<p class="price <%=(hideprice == 0) ? 'hide' : ''%>">Price</p>
									<p class="mapprice <%=(mapprice == 0) ? 'hide' : ''%>">MAP Price</p>
								</td>
								<% _.each(first_colorcode_array, function(value, index) {
												 
													var cstomer_price_group = customersFlatDiscount[0].PriceList;
													if(cstomer_price_group == 'Institutional Price List'){ %>
														<td align="center">$<%=value.InsPrice%></td>
													<% }else{
														var DisPriceAmount = parseFloat(value.DisPrice),
															UnitPriceAmount = parseFloat(value.UnitPrice);
														if(DisPriceAmount < UnitPriceAmount){ %>
															<td align="center" class="disprice" style="white-space: nowrap;">
															<p class="price <%=(hideprice == 0) ? 'hide' : ''%>">
																<span>$<%=value.DisPrice%></span>
																<span class="mainprice">$<%=value.UnitPrice%></span>
															</p>
																<p class="mapprice <%=(mapprice == 0) ? 'hide' : ''%>">$<%=value.MAPPrice%></p>
															</td>
														<% }else{ %>
															<td align="center">
																<p class="price <%=(hideprice == 0) ? 'hide' : ''%>">$<%=value.UnitPrice%></p>
																<p class="mapprice <%=(mapprice == 0) ? 'hide' : ''%>">$<%=value.UnitPrice%></p>
															</td>
														<% }
													}
												
											}); %>
							</tr>
							<tr class="low-opacity">
								<td>In Stock</td>
									<% _.each(first_colorcode_array, function(value, index) {%>
										<td></td>
									<% }); %>											
							</tr>
							<tr class="low-opacity">
								<td><p class="head_restockdate_lable_p">Restock Date</p><p class="head_restockqty_lable_p">Restock QTY.</p></td>
									<% _.each(first_colorcode_array, function(value, index) {%>
										<td></td>
									<% }); %>	
								
							</tr>
							<tr class="low-opacity">
								<td>Quantity</td>
									<% _.each(first_colorcode_array, function(value, index) {%>
										<td class="qtyTd"><input name="qty" class="checkvaluedemo" autocomplete="off" readonly="true"></td>
									<% }); %>	
							</tr>
							<tr>
								<td>Total</td>
								<% _.each(first_colorcode_array, function(value, index) {
										%>		<td align="center" class="total">
												  <input class="unittotal" name="inpprice[<%=value.Color%>][<%=value.Size%>]" type="hidden" value ="">
														<span class="showprice"></span>
												</td>
												
										<%}); %>
							</tr>
						</tbody>
					</table>
				</div>
			</div>




		<% _.each(data, function(value, index) { 
				if(!_.contains(main_size_array, value.ColorCode)) {
					var filterBy = value.ColorCode;
					colorcode_array = _.filter(data, function(value) {
						return value['ColorCode'] === filterBy;
					});

					var parent_color_code = value.ColorCode;
					var parent_color_value = value.Color;

					if(parent_color_code === activecolor){
						size_activeclass = 'active';
					}else{
						size_activeclass = '';
					}

					%>
						<div class="tab-pane fade show" id="<%=value.Style%><%=parent_color_code%>" role="tabpanel">
							<div class='colorContainer'>
								<table class='table table-bordered table-responsive'>
									<tbody>
										<tr>
											<td>Size</td>
											<% _.each(colorcode_array, function(value, index) {
												if(value.ColorCode == parent_color_code){ %>
													<td align="center"><%=value.Size%></td>
												<% }
											}); %>
										</tr>
											<tr class="price-tr <%=(mapprice == 0 && hideprice == 0) ? 'hide' : ''%>">
											<td><p class="price <%=(hideprice == 0) ? 'hide' : ''%>">Price</p>
												<p class="mapprice <%=(mapprice == 0) ? 'hide' : ''%>">MAP Price</p></td>
											<% _.each(colorcode_array, function(value, index) {
												if(value.ColorCode == parent_color_code){ 
													var cstomer_price_group = customersFlatDiscount[0].PriceList;
													if(cstomer_price_group == 'Institutional Price List'){ %>
														<td align="center">$<%=value.InsPrice%></td>
													<% }else{
														if(value.DisPrice < value.UnitPrice){ %>
															<td align="center" class="disprice" style="white-space: nowrap;">
															<p class="price <%=(hideprice == 0) ? 'hide' : ''%>">
																<span>$<%=value.DisPrice%></span>
																<span class="mainprice">$<%=value.UnitPrice%></span>
															</p>
																<p class="mapprice <%=(mapprice == 0) ? 'hide' : ''%>">$<%=value.MAPPrice%></p>
															</td>
														<% }else{ %>
															<td align="center">
																<p class="price <%=(hideprice == 0) ? 'hide' : ''%>">$<%=value.UnitPrice%></p>
																<p class="mapprice <%=(mapprice == 0) ? 'hide' : ''%>">$<%=value.UnitPrice%></p>
															</td>
														<% }
													}
												}
											}); %>
										</tr>
										<tr>
											<td>In Stock</td>
											<% _.each(colorcode_array, function(value, index) {
												if(value.ColorCode == parent_color_code){ 
													var qty = (typeof value.ActualQty !== 'undefined' && value.ActualQty != '') ? value.ActualQty : 0.00;
													if(qty > 500){
														qty = "500+"
													}
													%>
													<td align="center"><%=qty%></td>
												<% }
											}); %>
										</tr>
										<% if(_.contains(eta_availtoshow_styles, parent_color_code)){ %>
										<tr>
											<td align="right" class="order_head_eta_title" width="75"><p class="head_restockdate_lable_p">Restock Date</p><p class="head_restockqty_lable_p">Restock QTY.</p></td>
											<% _.each(colorcode_array, function(value, index) {
												if(value.ColorCode == parent_color_code){ 

													 var ETA1_DATE = new Date(value.ETA1);
													 var ETA2_DATE = new Date(value.ETA2);
													 var ETA3_DATE = new Date(value.ETA3);
													 var currentdate = new Date();
													 var sysDate = new Date("1900/01/01");
													var eta_date = {
														'ETA1' : {
															"Date" : ETA1_DATE,
															"Qty" : value.EtaQty1
														},
														'ETA2' : {
															"Date" : ETA2_DATE,
															"Qty" : value.EtaQty2
														},
														'ETA3' : {
															"Date" : ETA3_DATE,
															"Qty" : value.EtaQty3
														},

													};

													if(!_.isEmpty(eta_date)){
														var count = 1;
							                            var tag_count = 0;
							                            var eta_count_top = 0;
							                            var eta_class = "eta-tooltip";
							                            var eta_avail_to_show = false;


							                            _.each(eta_date, function(value, index) {
							                            	var current_itration_date = value.Date;
								                            if(value.Date != sysDate && current_itration_date.getTime() && value.Qty > 0 && eta_avail_to_show == false){
								                            	eta_avail_to_show = true;
									                        }
								                        });

								                        if(eta_avail_to_show){ %>
															<td class="order_head_eta_data" align="center">
																<% _.each(eta_date, function(value, index) {
																var current_itration_date = value.Date;
																if(value.Date != sysDate && current_itration_date.getTime() && value.Qty > 0){
																	var temp_eta_date = value.Date;

																	var temp_eta_day = temp_eta_date.getDate();
																	var temp_eta_month = temp_eta_date.getMonth()+1;

																	if(temp_eta_day < 10 && temp_eta_day > 0){
																		temp_eta_day = "0"+temp_eta_day;
																	}

																	if(temp_eta_month < 10 && temp_eta_month > 0){
																		temp_eta_month = "0"+temp_eta_month;
																	}

																	var ETA_Actual_print = (temp_eta_month + "-" + temp_eta_day + "-" + temp_eta_date.getFullYear().toString().substr(-2));


																	var eta_qty_show = value.Qty;
																	if(eta_qty_show > 500){
																		eta_qty_show = '500+';
																	} %>
																		<div class="eta_date_qty_cont">
																			<%
																				if(value.Date < new Date()){ %>
																					<p class="eta_date_product_option_span eta_date_past_date">
																						<span class="back_date_tooltip">Receiving Delay: The receiving of this date is delayed with few days due to port congestion.</span>
																						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 286.054 286.054" style="enable-background:new 0 0 286.054 286.054;" xml:space="preserve">
								                                                        <g>
								                                                            <path style="fill:#E2574C;" d="M143.027,0C64.04,0,0,64.04,0,143.027c0,78.996,64.04,143.027,143.027,143.027
								                                                                c78.996,0,143.027-64.022,143.027-143.027C286.054,64.04,222.022,0,143.027,0z M143.027,259.236
								                                                                c-64.183,0-116.209-52.026-116.209-116.209S78.844,26.818,143.027,26.818s116.209,52.026,116.209,116.209
								                                                                S207.21,259.236,143.027,259.236z M143.036,62.726c-10.244,0-17.995,5.346-17.995,13.981v79.201c0,8.644,7.75,13.972,17.995,13.972
								                                                                c9.994,0,17.995-5.551,17.995-13.972V76.707C161.03,68.277,153.03,62.726,143.036,62.726z M143.036,187.723
								                                                                c-9.842,0-17.852,8.01-17.852,17.86c0,9.833,8.01,17.843,17.852,17.843s17.843-8.01,17.843-17.843
								                                                                C160.878,195.732,152.878,187.723,143.036,187.723z"/>
								                                                        </g>
								                                                        </svg>
								                                                        <span><%=ETA_Actual_print%></span>
																					</p>
																					<p class="eta_qty_product_option_span eta_date_past_date"><%=eta_qty_show%></p>
																				<% }else{ %>
																					<p class="eta_date_product_option_span"><%=ETA_Actual_print%></p>
																					<p class="eta_qty_product_option_span"><%=eta_qty_show%></p>
																				<%}
																			%>
																		</div>
																<% 
																	count++;
																}}); %>
															</td>
								                    	<% }else{ %>
								                    		<td align="center"></td>
								                    	<%}
													}
												}
											}); %>
										</tr>
										<% } %>
										<tr>
											<td>Quantity</td>
											<% _.each(colorcode_array, function(value, index) {
												if(value.ColorCode == parent_color_code){ 
													var qty = (typeof value.ActualQty !== 'undefined' && value.ActualQty != '') ? value.ActualQty : 0.00;

													var cstomer_price_group = customersFlatDiscount[0].PriceList;
													if(cstomer_price_group == 'Institutional Price List'){
													%>
													<td align="center" class="qtyTd">
														<input name="qty[<%=value.Color%>][<%=value.Size%>]" type="text" pattern="[0-9]" min="1" class="checkvalue" autocomplete="off" max="<%=parseFloat(qty)%>">
														<span class="maxqtyvaldi"></span>
														<input name="showprice[<%=value.Color%>][<%=value.Size%>]" type="hidden" value ="<%=parseFloat(value.InsPrice)%>">
														<input name="selectcolor" type="hidden" value ="<%=value.Color%>">
														<input name="selectsize" type="hidden" value ="<%=value.Size%>">
														<input name="itemscode[<%=value.Color%>][<%=value.Size%>]" type="hidden" value ="<%=value.ItemCode%>">
														<input name="colorcode[<%=value.Color%>][<%=value.Size%>]" type="hidden" value ="<%=value.ColorCode%>">
														<input name="mainprice[<%=value.Color%>][<%=value.Size%>]" type="hidden" value ="<%=parseFloat(value.InsPrice)%>">
														<input name="DiscountPer[<%=value.Color%>][<%=value.Size%>]" type="hidden" value ="<%=parseFloat(0.00)%>">
														<input name="DiscountPrice[<%=value.Color%>][<%=value.Size%>]" type="hidden" value ="<%=parseFloat(value.InsPrice)%>">
														<input name="ColorStatus[<%=value.Color%>][<%=value.Size%>]" type="hidden" value ="<%=value.ColorStatus%>">
														<input name="StyleStatus[<%=value.Color%>][<%=value.Size%>]" type="hidden" value ="<%=value.StyleStatus%>">
													</td>
												<% }else{ %>
														<td align="center" class="qtyTd">
														<input name="qty[<%=value.Color%>][<%=value.Size%>]" type="text" pattern="[0-9]" min="1" class="checkvalue" autocomplete="off" max="<%=parseFloat(qty)%>">
														<span class="maxqtyvaldi"></span>
														<input name="showprice[<%=value.Color%>][<%=value.Size%>]" type="hidden" value ="<%=parseFloat(value.DisPrice)%>">
														<input name="selectcolor" type="hidden" value ="<%=value.Color%>">
														<input name="selectsize" type="hidden" value ="<%=value.Size%>">
														<input name="itemscode[<%=value.Color%>][<%=value.Size%>]" type="hidden" value ="<%=value.ItemCode%>">
														<input name="colorcode[<%=value.Color%>][<%=value.Size%>]" type="hidden" value ="<%=value.ColorCode%>">
														<input name="mainprice[<%=value.Color%>][<%=value.Size%>]" type="hidden" value ="<%=parseFloat(value.UnitPrice)%>">
														<input name="DiscountPer[<%=value.Color%>][<%=value.Size%>]" type="hidden" value ="<%=parseFloat(value.DisPercent)%>">
														<input name="DiscountPrice[<%=value.Color%>][<%=value.Size%>]" type="hidden" value ="<%=parseFloat(value.DisPrice)%>">
														<input name="ColorStatus[<%=value.Color%>][<%=value.Size%>]" type="hidden" value ="<%=value.ColorStatus%>">
														<input name="StyleStatus[<%=value.Color%>][<%=value.Size%>]" type="hidden" value ="<%=value.StyleStatus%>">
													</td>
													<% }
												}
											}); %>
										</tr>
										<tr>
											<td>Total</td>
											<% _.each(colorcode_array, function(value, index) {
												if(value.ColorCode == parent_color_code){ %>
													<td align="center" class="total">
														<input class="unittotal" name="inpprice[<%=value.Color%>][<%=value.Size%>]" type="hidden" value ="">
														<span class="showprice"></span>
													</td>
												<% }
											}); %>
										</tr>
									</tbody>
								</table>
								<div class="cf viewpouplink">
									<div class="success-quick-tooltip" style="display: none;">
										<i class="fa fa-check" aria-hidden="true"></i>
										<span> </span>
									</div>
									<a href="javascript:" class="discardChng">Discard Changes</a>
									<a href="javascript:" class="saveChng">Add/Update P.O.</a>
									<input name="submitcolor" type="hidden" value ="<%=parent_color_value%>">
									<input id="closepopup" name="closepopup" type="hidden" value="">
								</div>
								
								
							</div>
						</div>
					<%	style_size_char_i++;
					main_size_array.push(value.ColorCode);
				}
			}); %>	
		</div>
		<div class="quicklineitems">

		</div>

		<!-- Size Table END -->
	</div>
	<!-- Color DATA END -->
</div>
</div>
<!-- Product Color Data Section END -->
<!-- CheckOut START -->



<!-- CheckOut END