<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Checkout\Api\PaymentInformationManagementInterface" type="Ebizcharge\Ebizcharge\Model\Checkout\PaymentInformationManagement\Plugin" />
    <preference for="Magento\Checkout\Api\GuestPaymentInformationManagementInterface" type="Ebizcharge\Ebizcharge\Model\Checkout\GuestPaymentInformationManagement\Plugin" />
</config>