<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <Adaruniforms>
            <logout_section>
                <logout_message> Logout Popup message </logout_message>
            </logout_section>
        </Adaruniforms>
    </default>
</config>