<%
	_.each(finalorderrendere, function(valuetype, index) {
		var viewtype_index = index;


		var isorderdata = index.substr(0, 8);
		
		if(isorderdata == "viewtype"){ 
		%>
				<table class="orderList lineItemsList">
				<tbody>
					<!-- Table Header Rendering Start -->
					<tr>
						<th width="30px"><input type="checkbox" name="selectall" class="selectallRecord" value=""></th>
						<th width="50px">Style #</th>
                        <th width="50px">Color</th>
						<%
							var stylegroup_number = index.substr((index.length)-1, 1);
							_.each(databystylegroup, function(value, index) {
								if(index == stylegroup_number){
									_.each(value, function(value, index) {%>
										<th width="50px"><%=value%></th>
									<% });
								}
								
							});
						%>
						<th width="50px">QTY</th>
						<th width="70px">Total</th>
						<th width="50px"></th>
					</tr>
					<!-- Table Header Rendering End -->
					<!-- Table Item Rendering Start -->
					<% 
					var order_item_count = 1;
					var colspancount = 3;
					var grandtotalqty = 0;
					var grandtotal = 0;
					var tmpstylecolorcode = '';
	
					_.each(valuetype, function(parent_styles_value, style_name) {

						_.each(parent_styles_value, function(parent_styles_colorcode_value, style_colorcode) {


							colspancount = 3; 
							tmpstylecolorcode = ''; %>
							<tr>
								<%
									var total_raw_qty = 0;
									var total_raw_price = 0;
								%>
								<td>
									<input type="checkbox" name="deleteMultiRecord[]" class="deleteMultiRecord" value="">
									<input type="hidden" class="delete_style" id="delete_style_<%=style_name%>_<%=style_colorcode%>" name="delete_style" value="<%=style_name%>">
									<input type="hidden" name="delete_color" class="delete_color" id="delete_color_<%=style_name%>_<%=style_colorcode%>" value="<%=style_colorcode%>">
								</td>
								<td><%=style_name%></td>
								<td><%=style_colorcode%></td>
								<% 
								var stylegroup_number = viewtype_index.substr((viewtype_index.length)-1, 1);
								_.each(databystylegroup, function(groupby_style_value, index) {
									if(index == stylegroup_number){
										var valueprinted = false;
										_.each(groupby_style_value, function(groupby_style_final_value, index) {
											colspancount++;
											_.each(parent_styles_colorcode_value, function(order_item, order_item_index) {

												var current_style_size = order_item.Size;
												if(groupby_style_final_value == current_style_size){ 
													valueprinted = true;													
													total_raw_qty = parseInt(total_raw_qty) + parseInt(order_item.QTYOrdered);
													total_raw_price = parseFloat(total_raw_price) + parseFloat(order_item.TotalPrice);
													 %>
													<td><%=order_item.QTYOrdered%></td>	
												<% }
											});
											if(!valueprinted){ %>
												<td></td>
											<%}else{
												valueprinted = false;
											}
										});
									}
								});
								grandtotalqty = parseInt(grandtotalqty)+parseInt(total_raw_qty);
								grandtotal = parseFloat(grandtotal)+parseFloat(total_raw_price);
								order_item_count++;
								%>
								<td><%=total_raw_qty%></td>
								<td class="price">$<%=currencyconvert(total_raw_price.toFixed(2))%></td>
								<td class="item_action_buttons">
									<div>
									<a href="javascript:void(0);" edit-id="<%=style_name%>" edit-color="<%=style_colorcode%>" class="editOrderdItem newLinkText">
										<span class="fa fa-pencil"></span>
									</a>
									<a href="javascript:void(0);" delete-id="<%=style_name%>" delete-color="<%=style_colorcode%>" class="newLinkText">
										<span class="fa fa-close delSingalRecords"></span>
									</a>
								</div>
								</td>
							<% 
								tmpstylecolorcode = style_colorcode;
							}); %>
						</tr>
						<input type="hidden" name="grandTotal" id="grandTotal_<%=style_name%>_<%=tmpstylecolorcode%>" class="grandTotal" value='<%=grandtotal.toFixed(2)%>' >
						<input type="hidden" class="qtyTotal" name="qtyTotal" id="qtyTotal_<%=style_name%>_<%=tmpstylecolorcode%>" value='<%=grandtotalqty%>' >
				 		<% 	}); %>
				 		<tr class="totalcolumncolor">
				 			<td colspan="<%=colspancount%>"></td>
				 			<td><%=grandtotalqty%></td>
				 			<td class="price">$<%=currencyconvert(grandtotal.toFixed(2))%></td>
				 			<td></td>
				 		</tr>
					<!-- Table Item Rendering End -->
				</tbody>
			</table> <%
		}
	});
%>
	<table class="orderList lineItemsList_mark"> </table>
<%
	var grandTotal = 0,
		FlatDiscount = '',
		sellingprice = '',
		DiscountAmount = '',
		orderdata = '';

	if(ordersummaryinfo){ 
	
		grandTotal = ordersummaryinfo.TotalBeforeDiscount;
		FlatDiscount = ordersummaryinfo.FlatDiscount;
		sellingprice = ordersummaryinfo.DocTotal;
		DiscountAmount = ordersummaryinfo.DiscountAmount;
		orderdata = ordersummaryinfo;

	}

	if(grandTotal && grandTotal != 0 && grandTotal != ''){
		%>
			<div class="cf">
				<a href="javascript:void(0);" class="delSelectedRecords newLinkText">
				<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" enable-background="new 0 0 512 512" viewBox="0 0 512 512"><path d="M424 64h-88v-16c0-26.51-21.49-48-48-48h-64c-26.51 0-48 21.49-48 48v16h-88c-22.091 0-40 17.909-40 40v32c0 8.837 7.163 16 16 16h384c8.837 0 16-7.163 16-16v-32c0-22.091-17.909-40-40-40zm-216-16c0-8.82 7.18-16 16-16h64c8.82 0 16 7.18 16 16v16h-96zM78.364 184c-2.855 0-5.13 2.386-4.994 5.238l13.2 277.042c1.22 25.64 22.28 45.72 47.94 45.72h242.98c25.66 0 46.72-20.08 47.94-45.72l13.2-277.042c.136-2.852-2.139-5.238-4.994-5.238zm241.636 40c0-8.84 7.16-16 16-16s16 7.16 16 16v208c0 8.84-7.16 16-16 16s-16-7.16-16-16zm-80 0c0-8.84 7.16-16 16-16s16 7.16 16 16v208c0 8.84-7.16 16-16 16s-16-7.16-16-16zm-80 0c0-8.84 7.16-16 16-16s16 7.16 16 16v208c0 8.84-7.16 16-16 16s-16-7.16-16-16z" fill="#0c4269" class="color000 svgShape"></path></svg>
				<span>Delete Selected Rows</span>
			</a>
			</div>
		<%
		var CouponCode = '-';
		if(orderdata.CouponCampaign){
			CouponCode = orderdata.CouponCampaign;
		}

		if(FlatDiscount){
			var tmp_flatdiscount = FlatDiscount.split(".");
			if(tmp_flatdiscount[0] && tmp_flatdiscount[1] == 00){
				FlatDiscount = tmp_flatdiscount[0];
			}
		}

		%>
			<div class="cf">
				<div class="orderSummary">
					<div class="">
						Subtotal: <span class="labelValue">$<%=grandTotal%></span>
					</div>
					<div class="orderSummary_discountlabel_sec">
						<% if(generateDiscountTooltip != ''){ %>
							<div class="discount-tooltip">
								<%=generateDiscountTooltip%>
							</div>
						<% } %>
						<span class="lineitem-discount">Order Discount: </span>
						<span class="labelValue">(<%=FlatDiscount%>%) - $<%=DiscountAmount%></span>
					</div>
					<div class="">
						Freight/Handling: <span class="labelValue">-</span>
					</div>
					<div class="">
						Coupon/Campaign: <span class="labelValue"><%=CouponCode%></span>
					</div>
					<div class="orderTotal">
						<strong>Total: </strong><span class="labelValue">$<%=sellingprice%></span>
					</div>
				</div>
			</div>
		<%
	}else{ %>
		<div>Please Wail while generating Order Summary</div>
	<% } 
	
	
%>